          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '10' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICUADOS Y JUGOS      ____bebidas_____10be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '13' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VASO DE VINO          ____bebidas_____13be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '15' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> VINOS FINOS 3/4 LTS   ____bebidas_____15be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '17' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> BEBIDAS SIN ALCOHOL   ____bebidas_____17be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '19' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> APERTIVOS             ____bebidas_____19be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '21' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CERVEZAS              ____bebidas_____21be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '23' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> LICORES               ____bebidas_____23be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '24' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> WHISKY IMPORTADO / C  ____bebidas_____24be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
          <tr>                                                                                                                  
            <td>                                                                                                                
              <a href="/seraf/snippet/<%= '25' %>" class="btn btn-success btn-lg btn-block">                                    
                <h2 class="text-light"> CHAMPAGNE Y SIDRA     ____bebidas_____25be </h2>                                        
              </a>                                                                                                              
            </td>                                                                                                               
          </tr>                                                                                                                 
